@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* VARIABLES */
:root {
	--header-footer-height: 7rem;
	--heading-color: #5D5D5D;
	--text-color: #A0A0A0;
	--highlight-color: #009AE0;
	--img-size : calc((690/840)*100%);
	--container-size: calc((1424/1920)*100%)
}

html {
	font-size: 40px;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

/* NAVIGATION */

header, footer {
	display: flex;
	justify-content: space-between;
	padding: 0 3.6rem;
	align-items: center;
}

header {
	margin-top: 2.3rem;
}

.logo p {
	font-weight: bold;
	color: var(--heading-color);
	font-size: 1.4rem;
}

.logo {
	display: flex;
	align-items: center;
}

nav > ul {
	display: flex;
	list-style-type: none;
	margin: 0;
}

nav > ul > li > a {
	margin: 0 0.725rem;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.6rem;
}

nav > ul > li > a:hover {
	color: var(--highlight-color);
}

/* NAVIGATION END */

.container {
	width: var(--container-size);
	margin: auto;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--heading-color);
}

p, a, i {
	color: var(--text-color);
}

#main_content, h2 {
	text-align: center;
	font-weight: bold;
	font-size: 2.2rem;
}

.content {
	width: 100%;
	margin: auto;
	display: flex;
	align-items: center;
}

.content:last-child {
	margin: 0 auto;
}

.content:nth-child(odd) {
	text-align: right;
	flex-direction: row-reverse;
}

.content > img {
	border-radius: 50%;
	width: var(--img-size);
}

.description p {
  font-size: 0.8rem;
}

footer p {
	font-size: 0.8rem;
}

.social-media {
	display: flex;
	align-items: center;
	justify-content: center;
	height: var(--header-footer-height);
}

i {
	margin: 0 1rem;
	font-size: 1.175rem;
	cursor: pointer;
}

i:hover {
	transform: scale(1.3);
	color: var(--highlight-color);
}

.highlight {
	color: var(--highlight-color);
	font-weight: bold;
}
