@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
	--highlight-color: #009AE0;
	--main-color: #5d5d5d;
	--description-color: #666;
}

body {
	margin: 0;
	padding: 0;
}

.container {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: var(--main-color);
}

nav a{
	text-decoration: none;
}

.brand {
	padding: 1rem;
	font-weight: bold;
	font-size: 2rem;
}

.navbar {
	padding: 0 1rem;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
}

.section {
	padding: 1rem;
}

.section img {
	max-width: 80%;
	height: auto;
}

.description p{
	color: var(--description-color);
}

.social-media {
	display: flex;
	padding: 2rem 4rem;
	justify-content: space-between;
}

.social-media a {
	color: var(--description-color);
}

.highlight {
	color: var(--highlight-color);
}
