@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
	--highlight-color: #009AE0;
}

body {
	margin: 0;
	padding: 0;
}

.container {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

nav a{
	text-decoration: none;
}

.navbar {
	padding: 0 1rem;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
}

.section {
	padding: 1rem;
}

.section img {
	max-width: 80%;
	height: auto;
}

.social-media {
	display: flex;
	padding: 2rem 4rem;
	justify-content: space-between;
}

.highlight {
	color: var(--highlight-color);
}
