@media only screen and (max-width: 1050px) {

  .content img, .job-desc img {
    width: 90%;
    height: 90%;
  }

  header, footer {
    padding: 0 2rem;
  }

  .logo p {
    font-size: 2rem;
  }

  .logo img {
    height: 150px;
  }

  .container {
    width: 90%;
  }

  #main_content {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .description p {
    font-size: 1.2rem;
  }

  footer p, i {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 860px) {
  .container {
    width: 90vw;
  }

  .container img {
    width: 300px;
  }

  .content img, .job-desc img {
    width: 80%;
    height: 80%;
  }

  header, footer {
    padding: 0 2rem;
  }

  .logo, header {
    flex-direction: column;
    text-align: center;
  }


  header {
    height: auto;
    padding: 0;
  }

  nav > ul {
    padding: 0;
  }

  nav > ul > li > a {
    display: block;
    padding: 0.5rem;
  }

  #main_content, h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 700px) {
  .content img, .job-desc img {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 630px) {
  .content, .content:nth-child(odd) {
    flex-direction: column;
    text-align: center;
    margin: 0.5rem auto;
  }

  .description {
    padding: 0;
  }

  h2 {
    font-size: 1rem;
  }

  nav {
    width: 100%;
  }

  nav > ul{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.8rem;
  }

  nav > ul > li > a {
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 550px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .content img, .job-desc img {
    width: 200px;
    height: 200px;
  }

  .content {
    margin: auto;
  }

  footer {
    flex-direction: column;
    padding: 1rem;
    text-align: center;
  }

  #main_content, h2 {
    font-size: 1.5rem;
  }
}
