 @media only screen and (max-width: 1400px) {
  .content {
    width: 80%;
  }
}

@media only screen and (max-width: 1000px) {
  .content img {
    width: 250px;
    height: 250px;
  }

  header, footer {
    padding: 0 2rem;
  }

  .logo p {
    font-size: 2rem;
  }

  .logo img {
    height: 150px;
  }

  #main_content {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .description p {
    font-size: 1rem;
  }

  footer p, i {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 850px) {
  .container {
    width: 90vw;
  }

  header, footer {
    padding: 0 2rem;
  }

  .logo, header, nav > ul {
    flex-direction: column;
    display: block;
    text-align: center;
  }

  header {
    height: auto;
    padding: 0;
  }

  nav > ul {
    padding: 0;
  }

  nav > ul > li > a {
    display: block;
    padding: 0.5rem;
  }

  #main_content, h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 700px) {
  .content img {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 630px) {
  .content, .content:nth-child(odd) {
    flex-direction: column;
    text-align: center;
    margin: 0.5rem auto;
  }

  .description {
    padding: 0;
  }

  h2 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 550px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .content img {
    width: 150px;
    height: 150px;
  }

  .content {
    margin: auto;
  }

  footer {
    flex-direction: column;
    padding: 1rem;
    text-align: center;
  }

  #main_content, h2 {
    font-size: 1.5rem;
  }
}
